.addsong-container{
height:100vh;
background:#121212;
display:flex;
justify-content:center;
align-items:center;
margin-left: 550px;
}

.addsong-card{
background:#181818;
padding:40px;
border-radius:10px;
width:350px;
color:white;
box-shadow: 0 8px 30px rgba(0,0,0,0.5);
}

.addsong-card h2{
text-align:center;
margin-bottom:20px;
}

.addsong-card label{
font-size:14px;
margin-top:10px;
display:block;
color:#b3b3b3;
}

.addsong-card input{
width:100%;
padding:12px;
margin-top:8px;
background:#2a2a2a;
border:none;
color:white;
border-radius:5px;
}

.addsong-card input:focus{
outline:2px solid #1db954;
}

.addsong-card button{
margin-top:20px;
width:100%;
padding:12px;
background:#1db954;
border:none;
border-radius:25px;
font-weight:bold;
cursor:pointer;
transition:0.2s;
}

.addsong-card button:hover{
background:#1ed760;
}

.addsong-card select{
width:100%;
padding:12px;
margin-top:8px;
background:#2a2a2a;
border:none;
color:white;
border-radius:5px;
}

.addsong-card select:focus{
outline:2px solid #1db954;
}