.viewsong-container{
padding:40px;
background:#121212;
min-height:100vh;
color:white;
max-width:1000px;
margin:0 auto;
}

table{
width:100%;
border-collapse:collapse;
}

th, td{
padding:15px;
text-align:left;
border-bottom:1px solid #333;
}

th{
color:#b3b3b3;
}


.action-btn{
display:flex;
gap:10px;
justify-content:flex-start;  
}


.edit-btn{
background:#1db954;
border:none;
padding:8px 15px;
border-radius:6px;
color:white;
cursor:pointer;
}

.delete-btn{
background:#e91429;
border:none;
padding:8px 15px;
border-radius:6px;
color:white;
cursor:pointer;
}

.edit-btn:hover{
background:#1ed760;
}

.delete-btn:hover{
background:#ff4d4d;
}

.vimg{
width:50px; 
height:50px;
object-fit:cover;
border-radius:4px;
}

.vaudio{
width:300px;
margin-top:10px;
}